{% extends 'base.html' %} 
{% block title %}
Chi tiết dự án
{% endblock %} 
{% block content %}
<h1>Chi tiết dự án</h1>
<p><strong>ID:</strong> {{ pro.project_id }}</p>
<p><strong>Tiêu đề:</strong> {{ pro.title }}</p>
<p><strong>Ngày tạo:</strong> {{ pro.created_at }}</p>
<p><strong>Ngày cập nhật:</strong> {{ pro.updated_at }}</p>
<h3>Nhân viên tham gia:</h3>
<ul>
  {% for employee in emp %}
  <li>{{ employee.first_name }} {{ employee.last_name }}</li>
  {% empty %}
  <li>Không có nhân viên nào tham gia.</li>
  {% endfor %}
</ul>
{% endblock %}
